body { 
margin: 0; 
background-color: #FFB6C1;
}

#header {
    background-color: #DDA0DD;
    left: 200;
}

#link {
    
    position:absolute;
    top: 80;
    right: 30;
    
}
#link1 {
    
    position:absolute;
    top: 130;
    right: 90;
}

#link1size {
    width: 32;
    height: 32;
    
}

#link2 {
    
    position:absolute;
    top: 170;
    right: 90;
}

#link2size {
    width: 32;
    height: 32;
    
}


#link3 {
    
    position:absolute;
    top: 210;
    right: 90;
}

#link3size {
    width: 32;
    height: 32;
    
}


#name {
    position: absolute;
    left: 300;
}

#quotes {
  font-family: forte Regular;
  position: absolute;
  left: 300;
  top: 170;
  border-style: solid;
  border-color: #B22222;
}

#dendan18 {
position: absolute;
min-width: 40%;
min-height: 20%;
right: 300;
top: -90;
}

#profile {
    position: absolute; 
    top: 165;
    left: 160;
}