body { 
margin: 0; 
background-color: #FFB6C1;
margin: 0px;
padding: 0px;
background-repeat: no-repeat;
background-size: cover;
}


#header {
    background-color: #DDA0DD;
    left: 200;
}

#secondbg {
	position: fixed;
	opacity:0.8;
	width: 70%;
	left: 15%;
}


#profile {
    position: fixed; 
    width: 128px;
    height: 128px;
    top: 190;
    left: 300;
}



#quotes {
  font-family: forte Regular;
  position: absolute;
  left: 300;
  top: 500;
  border-style: solid;
  border-color: #B22222;
}

#dendan18 {
position: absolute;
min-width: 40%;
min-height: 20%;
right: 300;
top: -90;
}

